<!------ Include the above in your HEAD tag ---------->
<!-- Footer -->
<footer class="footer mt-auto py-3">
    <div class="container">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <h5 class="" style="font-size:18px">Çalışanlarımız</h5>
            <ul class="list-unstyled quick-links" style="font-size:14px">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tugay Mandal</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mustafa Karaman</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Anıl Ağba</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Onur Çiçek</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>İzzet Tezel</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <h5 class="" style="font-size:14px">Paydaşlarımız</h5>
            <ul class="list-unstyled quick-links" style="font-size:14px">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Amazon</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>eBay</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gittigidiyor</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>TuruncuElma</a></li>
                <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a href="https:beskardesler.com/"> Atimo Corporation</a></u> Modern çağın alışveriş portalı</p>
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.beskardesler.com" target="_blank">Beş Kardeşler</a></p>
        </div>
    </div>
</footer>    